footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #354551;

  font-size: 14px;
  color: #fff;
  @include text-align(center);
  z-index: 100;

  .flex {
    justify-content: center;

    & > div {
      margin: 0 40px;

      a {
        margin: 0 10px;
        color: #fff;
      }
    }
  }

  .disclaimer {
    margin: 40px auto;
    font-size: 14px;
    color: #a0a09f;
    text-align: left;
  }
}
