header {
	position: relative;
	z-index: 9997;
	width: 100%;

	hr {
		position: relative;
		z-index: 2;
		margin: 0;
	}

	.hdrCont {
		position: relative;
		@include justify-content(flex-start);
		@include align-items(flex-end);
		padding: 10px;
		z-index: 3;
		max-width: 1600px;
		min-height: 90px;
		margin: 0 auto;
		z-index: 3;

		& > div {
			&.logo {
				flex: 1;

				a {
					display: inline-block;
					vertical-align: middle;
					max-width: 200px;
				}
				.txt {
					display: inline-block;
					vertical-align: middle;

					& > span {
						font-size: 25px;
						padding: 0 5px;
					}

					h2 {
						display: inline-block;
						font-family: $main-font;
						font-size: 20px;
						font-size: clamp(15px, 2vw, 20px);
						color: #828281;
						font-weight: font-weight(light);
						padding: 3px;

						span {
							color: $accent-color-b;
						}
					}
				}
			}

			&.nav {
				width: 385px;
				margin-left: auto;
				@include text-align(right);

				a {
					display: inline-block;
					margin: 5px auto;
					color: #a0a09f;
					font-family: 'Open Sans', sans-serif;
					font-size: 14px;
					font-size: clamp(12px, 1.5vw, 14px);
					line-height: 1.5;
					font-weight: 400;
					text-transform: capitalize;

					&:hover {
						color: $accent-color-y;
						text-decoration: none;
					}
				}
				button {
					display: inline-block;
					margin-left: 10px;
				}
			}
		}
	}
}
/*! ============= MEDIA QUERIES ============ */
@media screen and (max-width: 1125px) {
	header {
		.hdrCont {
			& > div {
				.txt {
					width: 100%;
					& > span {
						@include hidden;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	header {
		.hdrCont {
			@include align-items(center);

			& > div {
				&.nav {
					width: auto;
				}
			}
		}
	}
}
