%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
@mixin border-radius(
  $top-left: 5px,
  $top-right: null,
  $bottom-right: null,
  $bottom-left: null
) {
  -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
  -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
  -ms-border-radius: $top-left $top-right $bottom-right $bottom-left;
  border-radius: $top-left $top-right $bottom-right $bottom-left;
}

@mixin max-width($width) {
  max-width: $width;
  width: 100%;
}

@mixin italic {
  font-style: italic;
}

@mixin nowrap {
  white-space: nowrap;
}

@mixin hidden {
  display: none !important; //for block hide
  visibility: hidden !important; //for inline hide
}
@mixin disabled {
  background-color: $disabled-border !important;
  border: 1px solid $disabled-border !important;
  color: $disabled-color !important;
  font-weight: normal !important;
  cursor: not-allowed !important;

  &:active {
    pointer-events: none !important;
  }

}
@mixin text-align($align) {
  text-align: $align;
}
@mixin text-transform($case) {
  text-transform: $case;
}

@mixin center($position) {
  position: absolute;

  @if $position == "vertical" {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  } @else if $position == "horizontal" {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
  } @else if $position == "both" {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@mixin flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

@mixin justify-content($value: space-between) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -moz-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  align-items: $value;
}
@mixin base-btn($background, $color: #fff) {
  display: block;
  font-family: $main-font;
  font-size: 14px;
  font-size: clamp(12px, 1.3vw, 14px);
  line-height: 1;
  border: 1px solid transparent;
  outline: none;
  color: #fff;
  font-weight: font-weight(bold);
  @include text-align(center);
  @include border-radius(30px);
  @include nowrap;
  cursor: pointer;
  @include text-transform(capitalize);
  margin: 20px auto;
  padding: 10px 30px;
  background: none;
  background-color: $background;

  a {
    display: block;
    color: $color;

    &:hover {
      color: $background;
      text-decoration: none;
    }
  }

  &:hover {
    background-color: $color;
    border: 1px solid $background;
    color: $background;
    text-decoration: none;

    a {
      color: $background;
    }
  }
}
@mixin transition-ease {
  transition: all 0.3s ease-in-out;
}
@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  animation: #{$str};
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
