* {
  box-sizing: border-box;
  outline: none !important;

  &:before,
  &:after {
    box-sizing: border-box;
  }

  &:focus {
    outline: none !important;
    -moz-outline: none !important;
  }
}

html {
  font-family: sans-serif; // 1
  -ms-text-size-adjust: 100%; // 2
  -webkit-text-size-adjust: 100%; // 2
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block; // 1
  vertical-align: baseline; // 2
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: none; // 1
  text-decoration: underline; // 2
  text-decoration: underline dotted; // 2
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
  margin: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #8b8b8b;
  margin: 20px 0;
}
hr.dotted {
  border-top: 1px dotted #95a5a6;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit; // 1
  font: inherit; // 2
  margin: 0; // 3
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"], // 1
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; // 2
  cursor: pointer; // 3
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  width: 100%;
  height: 32px;
  border: 1px solid #a0a09f;
  padding: 2px 2px 2px 5px;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

input {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 16px;
    color: #545454;
    text-indent: 5px;
    text-transform: capitalize;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    font-size: 16px;
    color: #545454;
    text-transform: capitalize;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 16px;
    color: #545454;
    text-transform: capitalize;
  }

  &:-ms-input-placeholder {
    font-size: 16px;
    color: #545454;
    text-transform: capitalize;
  }
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; // 1
  padding: 0; // 2
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; // 1
  box-sizing: content-box; //2
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

fieldset {
  position: relative;
  border: 0;
  padding: 5px 0;
  margin: 0;
}



legend {
  border: 0; // 1
  padding: 0; // 2
}

textarea {
  overflow: auto;
}


optgroup {
  font-weight: bold;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

b,
strong {
  font-weight: bold;
}

p {
  margin: 10px 0;
  padding: 0;
}
ul li,
ol li {
  padding: 1px 0;
}
.clear {
  clear: both;
  overflow: hidden;
}
.ui-state-default,
.ui-state-hover {
  border: 0;
  background: none;
}
.ui-accordion .ui-accordion-content {
  padding: 0;
}
