$images-url: "/images";

$main-font: "Work Sans", sans-serif;
$title-font: "Montserrat", sans-serif;
$main-font-color: #545454;
$accent-color-b: #2ab5c7;
$accent-color-o: #ed6339;
$accent-color-y: #ffa906;

$font-weight: (
  "extralight": 200,
  "light": 300,
  "regular": 400,
  "semibold": 600,
  "bold": 700,
);
@function font-weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}

/*horizontal sliders */
$sliderH-g: #98ba95;
$sliderH-y: #fba819;
$sliderH-r: #f15c22;

$sliderV-g: #cbdac7;
$sliderV-y: #e1e1e1;
$sliderV-r: #e1e1e1;
//$sliderV-g: rgba(152, 186, 149, 0.5);
//$sliderV-y: rgba(251, 168, 25, 0.5);
//$sliderV-r: rgba(241, 92, 34, 0.5);

$level-color-g: #98ba95;
$level-color-y: #fba819;
$level-color-r: #f15c22;

/*******/
$step1-hdrcolor: #c0d17e;
$step1-bgcolor: #6b9671;
$step1-color: #6b9671;

$step2-hdrcolor: #c0d17e;
$step2-bgcolor: #1d5573;
$step2-color: #4085aa;

$step3-hdrcolor: #c0d17e;
$step3-bgcolor: #784a87;
$step3-color: #784a87;

$step4-hdrcolor: #ecc688;
$step4-bgcolor: #f89624;
$step4-color: #f89624;

$step5-hdrcolor: #eda589;
$step5-bgcolor: #f15a22;
$step5-color: #f15a22;

$steps: 5;

$step-hdrcolors: $step1-hdrcolor, $step2-hdrcolor, $step3-hdrcolor,
  $step4-hdrcolor, $step5-hdrcolor;
$step-bgcolors: $step1-bgcolor, $step2-bgcolor, $step3-bgcolor, $step4-bgcolor,
  $step5-bgcolor;
$step-colors: $step1-color, $step2-color, $step3-color, $step4-color,
  $step5-color;
