@import "normalize";
@import "variables";
@import "mixins";
@import "header";
@import "footer";

.grecaptcha-badge {
   z-index: 99999999999999999;
}

:root {
   position: relative;
   margin: 0 auto;
   padding: 0;
   font-family: $main-font;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   min-width: 345px;
   @include max-width(100%);
   min-height: 100%;
}

body {
   position: relative;
   width: 100%;
   min-height: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
   background-color: #fff;
   font-family: $main-font;
   color: $main-font-color;
   font-size: 18px;
   font-size: clamp(14px, 2.5vw, 18px);
   line-height: 1.5;
   word-wrap: break-word;
}

body.responsive {
   touch-action: pan-y;
   user-select: none;
   -webkit-user-drag: none;
   overflow: hidden;
}

h1,
h2,
h3,
h4 {
   font-family: $title-font;
}

.centered {
   @include center(both);
}

.flex {
   @include flex;
}
.hidden {
  @include hidden;
}
.disabled {
  @include disabled;
}

label {
   display: block;
   font-size: 16px;
}

label.checkbox {
   &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 5px;
      width: 25px;
      height: 25px;
      border: 1px solid #a0a09f;
      background-color: #fff;
   }
}

input[type="checkbox"]:checked + label:before {
   content: "\2713";
   font-size: 22px;
   line-height: 25px;
   color: $accent-color-b;
   text-align: center;
}

label.radio {
   position: relative;
   display: inline-block;
   padding-left: 20px;
   cursor: pointer;
   line-height: 16px;

   &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      @include border-radius(50%);
      border: 1px solid #a0a09f;
      background-color: #fff;
      margin-right: 5px;
   }
}

input[type="radio"]:checked + label:after {
   position: absolute;
   content: "";
   top: 3px;
   left: 3px;
   width: 10px;
   height: 10px;
   @include border-radius(50%);
   background-color: $accent-color-b;
}

section:not(#results) {
   overflow: hidden;
}

.ui-button .ui-icon {
   background: none;
}

.ui-widget-overlay {
   opacity: 0.8;
}

.ui-dialog {
   display: none;
   font-size: 14px;
   z-index: 9999 !important;
   position: fixed;
   top: 50%;
   left: 50%;
   @include transform(translate(-50%, -50%));
}

.ui-dialog .ui-dialog-content {
   padding: 0 30px 20px 30px;
}

.ui-draggable .ui-dialog-titlebar {
   background: none;
   border: 0;
   padding: 5px 30px;
}

.ui-dialog .ui-dialog-title {
   font-size: 20px;
   color: $accent-color-b;
   @include text-transform(uppercase);
}

.ui-dialog .ui-dialog-titlebar-close {
   position: absolute;
   top: 17px;
   right: 15px;
   background: none;
   border: 0;
   width: 29px;
   height: 29px;
}

.ui-dialog
.ui-dialog-titlebar-close
.ui-button-icon.ui-icon.ui-icon-closethick {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 29px;
   height: 29px;
   margin: 0;
   padding: 0;
   @include transform(translate(-50%, -50%));
   background: url("#{$images-url}/close.png") no-repeat center;
   background-size: cover;
}

.fa {
   cursor: pointer;
   vertical-align: middle;
}

.icon-plus {
   @include center(vertical);
   right: 0;
   background: none;
   width: 47px;
   height: 47px;
   background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff),
   transparent;
   background-position: center;
   background-size: 50% 2px, 2px 50%;
   background-repeat: no-repeat;
   margin: 0;
}

.icon-minus {
   @extend .icon-plus;
   background-size: 50% 2px;
}

#ui-datepicker-div {
   font-size: 14px;
}

.sticky {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
}

a {
   outline: none;
   text-decoration: none;
   color: #2785b0;

   &:hover {
      text-decoration: underline;
      outline: none;
   }
}

.ui-dialog .ui-dialog-buttonpane button,
button {
   @include base-btn($accent-color-b);
}

.btn {
   @include base-btn($accent-color-y);
}

.btn2 {
   @include base-btn($accent-color-o);
}

.btnCancel {
   @include base-btn(#ccc, #555);
}

.btnOrderKit {
   @extend .btn2;
}

.arrow {
   position: absolute;
   top: 2px;
   right: 10px;
   background: transparent;
   border: solid #4d4d4d;
   border-width: 0 2px 2px 0;
   width: 16px;
   height: 16px;
}

.arrow-down {
   @extend .arrow;
   @include transform(rotate(45deg));
}

.arrow-right {
   @extend .arrow;
   @include transform(rotate(-45deg));
}

.arrow-left {
   @extend .arrow;
   right: auto;
   left: 10px;
   @include transform(rotate(135deg));
}

.arrow-wide {
   position: relative;
   background-color: $accent-color-y;
   padding: 10px;
   margin-bottom: 20px;

   &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: 50%;
      bottom: -7px;
      border: 50px solid transparent;
      border-bottom: 0;
      border-top: 7px solid $accent-color-y;
      @include transform(translate(-50%));
   }
}

.inner-container {
   position: relative;
   @include max-width(1200px);
   padding: 30px 10px;
   margin: 0 auto;

   &:after {
      content: "";
      display: table;
      clear: both;
   }
}

.ui-dialog .ui-dialog-buttonpane {
   padding: 0;
   margin: 0;
}

.ui-dialog-buttonpane .ui-dialog-buttonset {
   float: none !important;
   width: 100%;
   @include text-align(center);

   button {
      margin: 10px auto;
   }
}

label.error {
   display: block;
   font-size: 13px !important;
   color: #a90f0f;
   width: auto !important;
   margin-top: 3px;
}

video {
   @include max-width(100%);
   height: auto;
   z-index: 1;
}

.video-container {
   position: relative;
   color: #fff;
   @include text-align(center);
   margin: auto;
   display: table;
   padding: 10px;
   margin: 10px auto;

   .playVideo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      i {
         @include center(both);
         color: #fff;
         z-index: 2;
         filter: drop-shadow(4px 2px 4px rgba(0, 0, 0, 0.8));
      }

      p {
         position: absolute;
         width: 100%;
         bottom: 0;
         @include text-align(center);
      }
   }

   .video-modal {
      display: none;
      width: 600px;
   }
}

/*! custom select */
.ui-selectmenu-button.ui-button {
   position: relative;
   @include text-align(left);
   @include nowrap;
   width: 100%;
   height: 32px;
   border: 1px solid #a0a09f;
   border-radius: 0;
   background: none;
   padding: 0;
   font-size: 13px;
}

.ui-selectmenu-button.ui-button:hover .ui-icon,
.ui-selectmenu-button.ui-button:focus .ui-icon {
   background: none;
}

.ui-selectmenu-text {
   padding-left: 2px;
   line-height: 30px;
}

.ui-selectmenu-open {
   z-index: 99999999;
}

.ui-selectmenu-open ul {
   width: 100%;
   font-size: 14px;
   max-height: 200px;
   overflow: auto;
}

.showhidePW {
   cursor: pointer;
   padding-left: 3px;
}

.goBack {
   position: absolute;
   top: 50px;
   right: 130px;
   color: #1cafec;
   z-index: 10;
   cursor: pointer;
}



/*! ----------- ASSESSMENT ----------- */
#assessment {
   .inner-container {
      padding: 20px;

      label.radio {
         padding: 0;

         &:before {
            left: 50%;
            @include transform(translate(-50%, 0));
            margin: 0;
         }
      }

      input[type="radio"]:checked + label:after {
         left: 50%;
         margin: 0 0 0 -5px;
      }

      h4 {
         font-size: 29px;
         font-size: clamp(14px, 2.5vw, 29px);
         font-weight: font-weight(regular);
      }

      p {
         font-size: 18px;

         span {
            color: $accent-color-o;
            font-weight: font-weight(bold);
         }
      }
   }
}

/*! =============== include assessment form =============*/
#frm-assessment {
   font-size: 16px;

   .frm {
      hr {
         width: 100%;
         height: 0px;
         border: 0;
         border-bottom: 1px dotted #aaa;
      }

      #assessment_questions {
         margin: 50px 0px;

         .section {
            padding: 15px 0;
            margin: 40px 0 0 0;

        background-color: $accent-color-b;
        color: #fff;
        padding: 10px 20px;

        h4 {
          font-size: 21px;
          font-weight: font-weight(bold);
          color: #fff;
          @include text-transform(uppercase);
        }

        p {
          font-size: 16px;
          margin: 0;
        }
      }
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    tr {
      & > td:first-child {
        @include text-align(left);
      }

      td {
        padding: 15px 5px;
        font-size: 14px;
        line-height: 1.2;
        @include text-align(center);

        span {
          color: #ff0000;
        }
      }
    }
  }

  .symptoms {
    border-top: 2px solid $accent-color-b;
    padding: 40px 25px 10px 25px;

    h4 {
      font-size: 21px;
      font-weight: font-weight(bold);
      color: $accent-color-b;
      @include text-transform(uppercase);
    }

    p.subtitle {
      font-size: 21px;
      font-weight: font-weight(bold);

      span {
        font-weight: font-weight(regular);
        color: initial;
      }
    }
  }

  fieldset {
    margin: 10px 0;
  }

  .fa-plus {
    color: $accent-color-o;
  }

  button {
    @extend .btn;
    margin: 10px auto;
  }
}

/*! ======================================*/
/*! ========== END INCLUDES ==============*/
/*! ======================================*/

/*! =========== login page ===========*/
#loginPage {
   margin: 30px auto;
   color: #ed6339;

   .loginBox {
    display: table;
    width: auto;
      margin: auto;


      h1 {
      font-size: 31px;
      font-size: clamp(20px, 3vw, 31px);
      margin-bottom: 20px;
      font-weight: font-weight(regular);
      color: $accent-color-b;
      @include text-transform(capitalize);
    }

    input {
      width: 305px;
      height: 40px;
      font-size: 16px;
      color: #a0a09f;
    }

    a {
      font-size: 14px;
      color: #4085aa;
      text-decoration: none;
      margin: 0 10px;
    }
  }
}
/*---------- FORGOT PASSWORD -----------*/
#forgotPassword {
   .loginBox {
      margin: 30px auto;
   }

   button {
      margin: 10px auto;
   }
}

/*! ------------ INDEX ------------*/
#index {
  font-family: $main-font;
  font-size: 18px;
  font-size: clamp(16px, 2.5vw, 18px);
  color: #354551;
  font-weight: font-weight(light);

  p {
    font-size: 27px;
    font-size: clamp(16px, 2.5vw, 27px);
    line-height: 1.2;
    margin: 20px 0;
  }

  .divider {
    width: 100%;
    height: 50px;
    background-color: #eeedf0;
  }

  h2 {
    font-family: $title-font;
    font-size: 50px;
    font-size: clamp(20px, 4vw, 50px);
    line-height: 1.2;
    color: $accent-color-b;

    span {
      color: $accent-color-y;
    }
  }

  .billboard {
    position: relative;

    img {
      max-width: 100%;
      width: 100%;
    }

    .txt {
      position: absolute;
      width: 800px;
      top: 20%;
      left: 20%;
      overflow: hidden;

      h2 {
        color: #fff;
        margin-bottom: 6%;
      }

      .set {
        position: relative;
        font-size: 50px;
        font-size: clamp(16px, 4vw, 50px);
        line-height: 1.1;
        height: 60px;
      }

      .set span {
        position: absolute;
        display: block;
        width: 100%;
        left: 20px;
        opacity: 0;
        overflow: hidden;
        color: #fff;
        @include animation("rotateWords 28s ease-in-out 0s infinite forwards");

        &:first-child {
          opacity: 1;
        }
      }

      .set1 > span {
        @for $i from 1 through 9 {
          &:nth-child(#{$i}) {
            -webkit-animation-delay: (2.31s * $i);
            animation-delay: (2.31s * $i);
          }
        }
      }

      .set2 > span {
        @for $i from 1 through 8 {
          &:nth-child(#{$i}) {
            -webkit-animation-delay: (3.17s * $i);
            animation-delay: (3.17s * $i);
          }
        }
      }

      .set3 > span {
        @for $i from 1 through 8 {
          &:nth-child(#{$i}) {
            -webkit-animation-delay: (3.57s * $i);
            animation-delay: (3.57s * $i);
          }
        }
      }
    }
  }

  .take-assessment,
  .website-demo {
    .flex {
      & > div {
        flex: 1;

        &.txt {
          flex: 2;
        }

        p {
          font-size: 27px;
          font-size: clamp(18px, 2.5vw, 27px);

          strong {
            color: $accent-color-b;
            font-weight: font-weight(bold);

            &:last-child {
              color: $accent-color-y;
            }
          }
        }

        button {
          font-size: 24px;
          font-size: clamp(16px, 2.5vw, 24px);
          padding: 10px 40px;
          margin: auto;
          font-weight: font-weight(bold);
        }
      }

    }
  }
  .website-demo {
    background-color: $accent-color-b;

    p {
      color:#fff;

      strong {
        color: #00557a !important;
      }
    }

    button {
      @include base-btn(#00557a, #fff);

    }
  }

  .sad {
    background-color: #eeedf0;
    @include text-align(center);

    h2 {
      color: $accent-color-y;

      span {
        font-size: 27px;
        font-size: clamp(16px, 2.5vw, 27px);
        color: $accent-color-b;
      }
    }

    p {
      strong {
        color: $accent-color-b;
      }
    }

    & > div.last {
      text-align: center;
      padding: 0 20px;
    }
  }

  .slideshow-container {
    position: relative;
    overflow: hidden;
    margin: 5px 0;

    .slide {
      position: relative;
      margin: 2px;
      @include border-radius(5px);

      .text {
        position: absolute;
        width: 90%;
        color: #fff;
        @include text-align(center);
        z-index: 2;
        @include center(both);

        h2 {
          font-size: 32px;
          font-size: clamp(20px, 6vw, 32px);
          color: #fff;
        }

        p {
          font-size: 22px;
          font-size: clamp(16px, 4vw, 22px);

          &.note {
            font-size: 16px;
            font-size: clamp(14px, 2vw, 16px);
          }
        }
      }

      &.slide-mental-health strong {
        color: #cf3000;
      }

      &.slide-suicide strong {
        color: #efc21e;
      }

      &.slide-stress strong {
        color: #ffb92e;
      }

      &.slide-depression strong {
        color: #f5b920;
      }
    }
  }

  .main-forces {
    min-height: 635px;
    background: url("#{$images-url}/hp/main-forces.jpg") no-repeat 50% 100%;

    .inner-container {
      h2 {
        @include text-align(center);
      }

      & > .flex {
        @include justify-content(space-between);
        flex-wrap: nowrap;
        max-width: 820px;
        margin: auto;
        @include align-items(stretch);

        & > div.flex {
          @include justify-content(flex-start);

          flex-wrap: nowrap;

          &:last-child {
            margin-bottom: -90px;
          }

          .title {
            font-size: 28px;
            font-size: clamp(16px, 3vw, 28px);
            color: #128a99;
            font-weight: font-weight(bold);
            @include text-transform(uppercase);
            padding-right: 10px;
          }

          .bracket {
            font-size: 170px;
            font-size: clamp(150px, 8vw, 170px);
            color: #f2af30;
            margin-top: -15px;
          }

          ul {
            margin: 0;
            padding-left: 22px;

            li {
              font-size: 18px;
              font-size: clamp(16px, 2vw, 18px);
              font-weight: font-weight(light);
            }
          }
        }
      }
    }
  }

  .cycle {
    .flex {
      & > div {
        flex: 1;
        margin: 10px auto;

        img {
          display: block;
          margin: auto;
        }

        p {
          margin: 40px 0;

          strong {
            color: $accent-color-y;
            font-weight: font-weight(bold);

            span {
              color: #06b1c7;
            }
          }
        }
      }
    }
  }

  .current-mood {
    background-color: $accent-color-b;

    .flex {
      @include justify-content(flex-start);

      & > div {
        flex: 1;

        &:first-child {
          max-width: 265px;
        }

        &.txt {
          color: #fff;
          margin-left: -50px;
          max-width: 680px;

          h2 {
            color: #fff;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .intro {
    .inner-container {
      @include text-align(center);

      img {
        max-width: 300px;
      }

      hr {
        background: none;
        border-top: 3px dotted #eae5e5;
      }

      p.sm {
        font-size: 18px;
        font-size: clamp(16px, 2vw, 18px);
        margin-top: 30px;
      }
    }
  }

  .mood-profile {
    background-color: #f6f5f7;
    @include text-align(center);

    .flex {
      @include justify-content(center);

      & > div {
        padding: 5px;

        &:nth-child(1) {
          @include text-align(right);
          margin-top: -10px;
        }

        &:nth-child(3) {
          @include text-align(left);
          margin-top: -15px;
        }

        p {
          font-size: 18px;
          font-size: clamp(16px, 2vw, 18px);

          strong {
            color: #f2af30;
          }

          margin: -10px 0 0 0;
        }
      }
    }
  }

  .personalized-plan {
    .inner-container {
      h2 {
        @include text-align(center);
      }

      .flex {
        @include justify-content(flex-start);

        & > div {
          flex: 1;

          &:nth-child(1) {
            margin-top: -75px;
            padding-bottom: 30px;
          }

          &.last {
            align-self: flex-end;
          }

          &.txt {
            flex: 1.2;
            margin-left: -40px;
          }

          p {
            font-size: 18px;
            font-size: clamp(16px, 2vw, 18px);
            margin: 0;

            &.title {
              font-size: 27px;
              font-size: clamp(16px, 2.5vw, 27px);
              color: #02b9d1;
              font-weight: font-weight(semibold);

              &.spaceabove {
                margin-top: 40px;
              }
            }
          }
        }
      }
    }
  }

  .small-moves {
    background-color: #fafafa;
    @include text-align(center);

    .flex {
      @include justify-content(center);
      @include align-items(flex-start);
      margin: 40px;

      & > div {
        flex: 1;
        padding: 20px;

        p {
          font-size: 18px;
          margin: 0;

          &.title {
            font-weight: font-weight(bold);

            &.lifestyle {
              color: #8ea839;
            }

            &.supps {
              color: #06b1c7;
            }

            &.mind {
              color: #6c41a6;
            }

            &.support {
              color: $accent-color-y;
            }

            &.meds {
              color: $accent-color-o;
            }
          }
        }
      }

      &:last-child {
        margin: 40px 20%;
      }
    }
  }

  .program {
    background-color: #06b1c7;
    color: #fff;

    h2 {
      color: #fff;
      @include text-transform(inherit);

      span {
        color: #fcc865;
      }
    }

    ul {
      list-style: none;

      li {
        position: relative;
        font-size: 27px;
        font-size: clamp(16px, 2.5vw, 27px);
        line-height: 1.2;
        padding-left: 75px;
        margin: 20px 0;

        &:before {
          position: absolute;
          left: 15px;
          width: 0;
          height: 0;
          content: "";
          border-color: transparent #fcc865;
          border-style: solid;
          border-width: 15px 0 15px 30px;
        }

        strong {
          color: #fcc865;
          font-weight: font-weight(semibold);
        }
      }
    }
  }

  .mini-assessment {
    .flex {
      & > div {
        flex: 1;
        padding: 10px;
        margin: 10px auto;

        &.txt {
          flex: 1.5;
        }
      }

      p {
        strong {
          color: $accent-color-y;
        }
      }

      ul {
        margin-top: 30px;
        padding-left: 20px;

        li {
          font-size: 27px;
          font-size: clamp(16px, 2.5vw, 27px);
          line-height: 1.2;
          margin: 10px 0;
          color: #1dbacf;
          font-weight: font-weight(bold);
        }
      }

      button {
        display: block;
        font-size: 24px;
        font-size: clamp(16px, 2.5vw, 24px);
        margin: 60px auto 0 auto;
        padding: 10px 60px;
        font-weight: font-weight(bold);
      }
    }
  }

}
@include keyframes(rotateWords) {
  0% {
    opacity: 1;
  }
  6% {
    opacity: 0.2;
  }
  10%,
  100% {
    opacity: 0;
    @include transform(translateX(80%));
  }
}

/*! ----------- QUICKSTART ----------- */

#quickstart {
   .hdr {
      display: none;
   }

   h4 {
      font-size: 30px;
      font-size: clamp(18px, 4vw, 30px);
      font-weight: font-weight(regular);
      color: #354551;
   }

   #frm-assessment .symptoms {
      display: none;
   }

   #frm-assessment button {
      background-color: #02b9d1;

      &:hover {
         background-color: transparent;
         border-color: #02b9d1;
         color: #02b9d1;
      }
   }
}

#quickstart-createAcct {
   display: none;
   padding-top: 0;

   h4 {
      font-size: 34px;
      color: #ffa906;
   }

   p {
      font-size: 18px;
      margin: 20px 0;
   }

   form {
      width: 100%;
      margin: auto;
   }

   .flex {
      & > fieldset {
         width: 49%;

        input {
          @include border-radius(5px)
        }

        .suggestList {
          ul.ui-widget.ui-widget-content {
            margin-top:-5px;
            background-color:#eee;
            @include border-radius(5px);

            li {
              margin:5px 0;
              background-color: rgba($accent-color-b,0.3);
            }
          }
        }
      }
   }

   button {
      margin: 20px auto;
   }

   .note {
      font-size: 14px;
      @include italic;
      font-weight: font-weight(light);

     a {
       text-decoration: underline;
     }
   }
}


/*! ---------QUICKSTART RESULTS-------*/

#quickstart-results {
  h2 {
    font-size: 23px;
    font-size: clamp(18px, 3vw, 23px);
    color: $accent-color-b;
  }

  h4 {
    font-size: 23px;
    font-size: clamp(18px, 3vw, 23px);
    color: #02b9d1;
  }

  .qr {
    .flex {
      @include align-items(flex-start);

      & > div {
        margin: 10px auto;

        &:first-child {
          max-width: 250px;
        }

        &.txt {
          flex: 1;
          margin-left: 40px;
        }
      }
    }

    .mood-scores {
      @include justify-content(flex-start);
      margin-bottom: 40px;

      .testResults {
        margin: 20px 0;
      }
    }

    p {
      span.avg {
        color: #fba819;
        font-weight: font-weight(bold);
        margin: 10px 0 20px 0;
      }
    }
  }
   .whatsNext {
      background-color: #02b9d1;
      color: #fff;

     .flex {
       @include align-items(flex-start);

       & > div {
         flex: 2;

         &:last-child {
           flex:1;
           margin:20px 0 0 50px;
         }
       }
     }
      hr {
         border-color: #fff;
      }

      p {
         margin: 15px 0;
         font-size: 16px;
      }

      h4 {
         font-size: 30px;
         color: #fad96b;
         font-weight: font-weight(bold);
         line-height: 1.3;
      }

      a {
         color: #fff;
         font-weight:font-weight(bold);
         text-decoration: underline;
      }

     .italic {
       @include italic;
     }

     button {
       @extend .btn;
       display: inline-block;
       margin: 0 0 0 20px;
       padding-top:5px;
       padding-bottom:5px;

       a {
         color:inherit;
         text-decoration:none;
       }
     }
   }
}

/*!  ====== sliders ========= */

.testResults {
  position: relative;
  margin: 20px;
  width: 255px;
  @include nowrap;

  .testname {
    display: block;
    font-size: 16px;
    color: #2785b0;
    text-decoration: underline;
  }

  .testresult {
    position: relative;
    display: inline-block;
    border: 1px solid #d3d3d3;
    @include border-radius(30px);
    padding: 2px;
    max-width: 220px;
    width: 80%;
    height: 15px;

    .horizontalSlider {
      border: 0;
      width: 100%;
      height: 100%;
      @include border-radius(30px);
      pointer-events: none;

      .ui-state-default {
        width: 1px !important;
        height: 19px !important;
        border-color: #000 !important;
        background-color: #000 !important;
        margin-left: 0;
        margin-top: 4px;

        span {
          position: absolute;
          top: 19px;
          left: -12px;
          font-size: 12px;
          font-weight: font-weight(bold);
        }
      }
    }

    .verticalSlider {
      border: 0;
      width: 12px;
      height: 200px;
      @include border-radius(30px);
      pointer-events: none;
      opacity: 0.75;

      .ui-state-default {
        width: 100% !important;
        border: 0;
        background: none;
        margin-bottom: 0;
        left: 0;
        right: 0;
        @include text-align(center);
        font-size: 12px;
        line-height: 1;

        span {
          font-size: 13px;
          font-weight: font-weight(bold);
          line-height: 1;
        }
      }
    }

    .horizontalSlider.gyr {
      background: linear-gradient(
        to right,
        $sliderH-g 33%,
        $sliderH-y 1%,
        $sliderH-y 65%,
        $sliderH-r 1%,
        $sliderH-r
      );
    }

    .horizontalSlider.ygy {
      background: linear-gradient(
        to right,
        $sliderH-y 33%,
        $sliderH-g 1%,
        $sliderH-g 65%,
        $sliderH-y 1%,
        $sliderH-y
      );
    }

    .horizontalSlider.gy {
      background: linear-gradient(to right, $sliderH-g 50%, $sliderH-y 50%);
    }

    .horizontalSlider.rygyr {
      background: linear-gradient(
        to right,
        $sliderH-r 20%,
        $sliderH-y 1%,
        $sliderH-y 39%,
        $sliderH-g 1%,
        $sliderH-g 59%,
        $sliderH-y 1%,
        $sliderH-y 79%,
        $sliderH-r 1%,
        $sliderH-r
      );
    }

    .horizontalSlider.ryg {
      background: linear-gradient(
        to right,
        $sliderH-r 33%,
        $sliderH-y 1%,
        $sliderH-y 65%,
        $sliderH-g 1%,
        $sliderH-g
      );
    }

    .verticalSlider.gyr {
      background: linear-gradient(
        to bottom,
        $sliderV-g 33%,
        $sliderV-y 1%,
        $sliderV-y 65%,
        $sliderV-r 1%,
        $sliderV-r
      );
    }

    .verticalSlider.ygy {
      background: linear-gradient(
        to bottom,
        $sliderV-y 33%,
        $sliderV-g 1%,
        $sliderV-g 65%,
        $sliderV-y 1%,
        $sliderV-y
      );
    }

    .verticalSlider.gy {
      background: linear-gradient(to bottom, $sliderV-g 50%, $sliderV-y 50%);
    }

    .verticalSlider.rygyr {
      background: linear-gradient(
        to bottom,
        $sliderV-r 20%,
        $sliderV-y 1%,
        $sliderV-y 39%,
        $sliderV-g 1%,
        $sliderV-g 59%,
        $sliderV-y 1%,
        $sliderV-y 79%,
        $sliderV-r 1%,
        $sliderV-r
      );
    }

    .verticalSlider.ryg {
      background: linear-gradient(
        to bottom,
        $sliderV-r 33%,
        $sliderV-y 1%,
        $sliderV-y 65%,
        $sliderV-g 1%,
        $sliderV-g
      );
    }
  }

  .testWarning {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
  }

  .testWarningRed .fas {
    color: #f15c22;
  }

  .testWarningYellow .fas {
    color: #fba819;
  }

  .testWarningGreen {
    display: none;

    .fas {
      color: #98ba95;
    }
  }

  .warningTip {
    display: none;
  }

  .diurnal-group {
    @include flex;

    border: 1px solid #d3d3d3;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
    background: url("#{$images-url}/results/gridlines.png") no-repeat 0 0;
    background-size: contain;

    .testresult {
      border-radius: 0;
      width: 25%;
      height: 100%;
      padding: 0;
      border-color: #737375;

      .ui-slider {
        width: 100%;
        border-radius: 0;
      }

      .testWarning {
        display: block;
        position: absolute;
        left: 50%;
        @include transform(translate(-50%));
        margin: 0;
        height: 0;
      }

      .testPeriod {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -38px;
        font-size: 9px;
        background-color: #696969;
        color: #fff;
        padding: 2px 1px;
        white-space: normal;
        @include text-align(center);
      }
    }
  }
}

/*! ====== end sliders ========= */

/*! ============= TERMS OF SERVICE ===========*/

#terms-of-service {
  .inner-container {
    font-size: 16px;
    padding: 10px 0 30px 0;

    h1 {
      font-size: 36px;
      font-weight: font-weight(regular);
      @include text-align(center);
    }

    .section-title {
      font-weight: font-weight(bold);
      margin-top: 20px;
    }

    ol {
      margin-top: 0;
    }
  }
}

/*! ============ privacy ===========*/

#privacy-policy {
  .inner-container {
    font-size: 16px;
    padding: 10px 0 30px 0;

    h1 {
      font-size: 36px;
      font-weight: font-weight(regular);
      @include text-align(center);
    }

    .section-title {
      font-weight: font-weight(bold);
      margin-top: 20px;
    }

    ol {
      margin-top: 0;
    }
  }
}



/*! -------------------------*/

.dialog-common {
  position: fixed;

  #commonDialog {
    a {
      color: #3a97b7;
      text-decoration: underline;
    }

    .total-measure,
    .measure {
      font-weight: font-weight(bold);
    }

    .your-results,
    .total-level,
    .level {
      @include text-transform(uppercase);
      font-weight: font-weight(bold);

      &.green {
        color: $level-color-g;
      }

      &.yellow {
        color: $level-color-y;
      }

      &.red {
        color: $level-color-r;
      }
    }

    .level {
      @include text-transform(capitalize);
      font-weight: font-weight(regular);
    }

    .level-block > div,
    .diurnal {
      display: none;
      margin: 10px 0;
    }

    /*!  for profile page -lifestyle habits */

    p {
      &.green {
        @include text-align(center);
        color: #6b9671;
      }

      &.title {
        font-size: 21px;
        font-weight: font-weight(bold);
      }
    }

    .flex {
      display: flex;

      flex-flow: row wrap;

      p {
        margin: 20px;
        flex: 1;
      }
    }
  }

  &.dialog-explanation {
    #commonDialog {
      padding: 0 30px 20px 30px;

      p {
      }

      .title {
        font-size: 21px;
        color: $accent-color-b;
        @include text-transform(uppercase);
      }

      button {
        display: block;
        font-size: 16px;
        color: $accent-color-b;
        border: 3px solid $accent-color-b;
        margin: 20px auto;
        background-color: #fff;
      }
    }
  }

}


/*! ============= MEDIA QUERIES ============ */

@media screen and (max-width: 1185px) {
  #index {
    .billboard .txt {
      top: 2.5vw;
      left: 10%;
    }
  }
}



@media (max-width: 857px) {

  #index .billboard .txt {
    h2 {
      margin-bottom: 3vw;
    }

    .set {
      height: 6vw;
    }
  }
}

@media screen and (max-width: 767px) {
  #index {
    .take-assessment .flex {
      flex-direction: column;
      @include text-align(center);
    }

    .cycle .flex {
      flex-direction: column;
    }

    .mood-profile .flex {
      flex-direction: column;

      & > div {
        padding: 20px;
      }
    }

    .personalized-plan .inner-container {
      .flex {
        flex-direction: column;

        & > div {
          &:nth-child(1),
          &.last {
            margin: 0;
            max-width: 300px;
          }

          &.txt {
            margin: 20px auto;
          }
        }
      }
    }

    .small-moves .flex {
      flex-direction: column;
    }

    .mini-assessment .flex {
      flex-direction: column;
    }
  }

}

@media screen and (max-width: 740px) {

  #quickstart-results {
    .flex {
      flex-direction: column;
    }

    .qr .mood-scores.flex {
      flex-direction: row;
    }
  }
}


@media screen and (max-width: 540px) {

  #index {
    .main-forces {
      .inner-container {
        & > .flex {
          flex-direction: column;

          & > div.flex {
            @include justify-content(center);

            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }

    .program ul {
      padding-left: 20px;

      li {
        padding-left: 40px;

        &:before {
          left: 0;
          border-width: 10px 0 10px 20px;
        }
      }
    }
  }

}

